<div class="button">
  <img src="assets/add_FILL0_wght400_GRAD0_opsz24.svg" alt="" class="button__icon" />
  <span class="button__label">New player</span>
  <a routerLink="new" class="button__link"></a>
</div>

<div class="card-list">
  <a class="card" *ngFor="let player of players" [routerLink]="player.id">
    <img class="card__picture" src="https://via.placeholder.com/56" alt=""/>
    <div class="card__wrapper">
      <p class="card__title">
        {{ player.firstName }} {{ player.lastName }}
      </p>
      <p class="card__description">
        {{ player.club }} · {{ player.dateOfBirth | age }} years old
      </p>
    </div>
  </a>
</div>
