.button {
  margin: 0 32px
}

.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(244px, 1fr));
  margin: 16px 24px 0 24px;
}

.card {
  display: flex;
  align-items: center;
  padding: 12px;
  gap: 16px;
  border-radius: 24px;

  &:hover {
    background-color: #f3f3f3;
  }

  &__picture {
    width: 56px;
    height: 56px;
    border-radius: 32px;
  }

  &__wrapper {
    flex-grow: 1;
  }

  &__title {
    color: #1c1b1f;
    line-height: 24px;
    font-size: 16px;
    font-weight: 400;
  }

  &__description {
    color: #49454e;
    line-height: 20px;
    font-size: 14px;
    font-weight: 400;
  }
}
