<p *ngIf="isPlayerLoaded && !player">
  Player not found
</p>

<article *ngIf="player" class="profile">
  <header>
    <ul class="tools">
      <li class="button">
        <img class="button__icon" src="assets/arrow_back_FILL0_wght400_GRAD0_opsz24.svg" alt=""/>
        <a routerLink=".." class="button__link"></a>
      </li>
    </ul>
    <img class="picture" src="https://via.placeholder.com/160" alt=""/>
    <ul class="tools" style="justify-self: end">
      <li class="button">
        <img class="button__icon" src="assets/edit_FILL0_wght400_GRAD0_opsz24.svg" alt=""/>
        <a routerLink="edit" class="button__link"></a>
      </li>
      <li class="button" (click)="deletePlayer()">
        <img class="button__icon" src="assets/delete_FILL0_wght400_GRAD0_opsz24.svg" alt=""/>
      </li>
    </ul>
  </header>
  <section class="details">
    <h1 class="details__title">{{ player.firstName }} {{ player.lastName }}</h1>
    <em class="details__line">{{ player.dateOfBirth | age }} years old</em>
    <ul class="tile-list">
      <li class="tile">
        <img class="tile__icon" src="assets/sports_soccer_FILL0_wght400_GRAD0_opsz24.svg" alt=""/>
        <span class="tile__line">{{ player.position }}</span>
      </li>
      <li class="tile">
        <img class="tile__icon" src="assets/flag_FILL0_wght400_GRAD0_opsz24.svg" alt=""/>
        <span class="tile__line">{{ player.club }}</span>
      </li>
    </ul>
  </section>
</article>
