<article *ngIf="team" class="team">
  <header>
    <ul class="tools">
      <li class="button">
        <img alt="" class="button__icon" src="assets/arrow_back_FILL0_wght400_GRAD0_opsz24.svg"/>
        <a class="button__link" routerLink=".."></a>
      </li>
    </ul>
    <h1 class="team-name">
      {{ team.name }}
    </h1>
    <ul class="tools" style="justify-self: end">
      <li class="button">
        <img alt="" class="button__icon" src="assets/edit_FILL0_wght400_GRAD0_opsz24.svg"/>
        <a class="button__link" routerLink="edit"></a>
      </li>
      <li (click)="deleteTeam()" class="button">
        <img alt="" class="button__icon" src="assets/delete_FILL0_wght400_GRAD0_opsz24.svg"/>
      </li>
    </ul>
  </header>
  <section class="pickers">
    <app-player-picker (playersChange)="updatePlayers(category, $event)" *ngFor="let category of categories"
                       [category]="category.name" [maxPlayers]="category.maxPlayers"
                       [players]="category.players"></app-player-picker>
  </section>
</article>
